body {
    font-family: Arial, sans-serif;
    background: #a2a9b6;
    text-align: center;
}

.input-area {
    margin: 20px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

.board {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.column {
    background: #ffffff;
    width: 250px;
    min-height: 350px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.column h2 {
    margin-bottom: 10px;
}

.task-list {
    background: #f9f9f9;
    padding: 10px;
    min-height: 280px;
    border-radius: 8px;
}

.task {
    background: #e0e0e0;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    cursor: grab;
    text-align: left;
}

.completed {
    background: #a8e6a3;
}

#message {
    display: none; /* hidden by default */
    color: green;
    font-weight: bold;
    margin-top: 15px;
    transition: all 0.3s ease;
}

/* Shown only when task is completed */
#message.show {
    display: inline-block;
    background: white;
    padding: 10px 18px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

