body {
    font-family: Arial;
    padding: 40px;
    align-content: center;
    background-color: rgb(63, 70, 71);
}

input {
    padding: 8px;
    margin-top: 5px;
}

#feedback {
    font-weight: bold;
}
